@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Roboto:wght@700&display=swap');

/* * {
    border: 2px solid red;
} */

body {
    background-color: black;
    background-image: url("./img/translucent.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 70%;
  }

.nav {
    width: 80%;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #7B7C7A;
    display: flex;
    align-items: center;
    font-size: 25px;
    padding: 25px;
}

.nav > a > img {
    width: 50px;
    margin-right: 10px;
}

.nav > div {
    display: flex;
    margin-left: auto;
    margin-right: 25px;
    gap: 25px;
}

div > a {
    color: white;
    text-decoration: none;
    font-family: 'Cabin';
    font-weight: 600;
}

div > a:hover {
    transform: scale(1.15);
}

div > a:active {
    transform: scale(.95);
}

.hero-container {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(182, 174, 162, .9);
    border-radius: 15px;
    flex-wrap: wrap;
    padding: 15px;
}

.text-container {
    width: 650px;
    margin: 0%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

h1 {
    flex-shrink: 1;
    color: white;
    font-family: 'Roboto';
    font-size: 60px;
    font-weight: 800;
    text-align: left;
    margin: 0%;
}

p {
    color: white;
    text-align: justify;
    font-size: 20px;
    margin: 0%;
    padding: 15px;
    word-break: break-all;
}

.hero-container > img {
    width: auto;
    height: auto;
    max-width: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

.hero-container > img:hover {
    transform: scale(2);
}

.transform-card-container {
    margin-top: 200px;
    margin-bottom: 200px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.transform-card-1 > img {
    width: 200px;
    border: 20px solid #B6AEA2;
    border-radius: 5px;
}

.transform-card-1 > img:hover {
    transform: scale(2);
    opacity: 1;
}

.image-parent {
    position: relative;
}

.before-1 {
    position: relative;
}

.after-1 {
    position: absolute;
    left: 2px;
    opacity: 0%;
    transition: all 0.9s ease;
}

.transform-card-2 > img {
    width: 200px;
    border: 20px solid #B6AEA2;
    border-radius: 5px;
}

.transform-card-2 > img:hover {
    transform: scale(2);
    opacity: 1;
}

.image-parent-2 {
    position: relative;
}

.before-2 {
    position: relative;
}

.after-2 {
    position: absolute;
    left: 2px;
    opacity: 0%;
    transition: all 0.9s ease;
}

.credentials-container {
    background-color: rgba(123, 124, 122, .9);
    border-radius: 10px;
    padding: 50px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.license {
    height: 325px;
    flex-shrink: 1;
    flex-basis: 550px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.award {
    width: 400px;
}

.home-gallery-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 200px;
}

.home-gallery-container img {
    height: 300px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 20px solid #B6AEA2;
    border-radius: 5px;
    transition: all .4s ease;
}

.home-gallery-container img:hover {
    transform: scale(2);
    margin-left: 150px;
    margin-right: 150px;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #7B7C7A;
    border-radius: 5px;
    margin-top: 150px;
    font-family: 'cabin';
}